@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
   

}
body{
    font-family: 'Lato', sans-serif;
background-color: #fafafa;
background-color: yellow;
overflow-x: hidden;
margin: 0;


}
.container{
    width: 100vw;
    min-height: 100vh;
}
img{
    max-width: 100%;
    max-height: 100%;
}

 .about_me{
display: flex;
justify-content: center;
align-items: center;
gap: 90px;
border: 10px solid black;
border-radius: 20px;
height: 500px;
width: 1000px;
margin-top: 150px;
margin-left: 280px;
}

.my_name{
    font-size: 30px;
    font-weight: 20px;
    
}
.stack{
    font-size: 30px;
    font-weight: 20px;
    transform: rotate(15deg);
}

.my_img{
    height: 300px;
    width: 200px;
}

.social_media_links{
    display: flex;
    gap: 30px;
   
}
.fa-twitter{
    color: black;
}

.fa-linkedin{
    color: black;
}

.fa-facebook-square{
    color: black;
}

.fa-github{
    color: black;
}

@media screen and  (max-width: 479px) {
   .container{
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto;
     max-width: auto;
       
   }
   
   
    .about_me{
        height: auto;
        
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: fit-content ;
    margin: unset;
    border: none;
    padding-right:10px ;
    
}

.my_name{
    font-size: 30px;
    padding-left: 10px;
    text-align:center ;
}
.stack{
    font-size: 30px;
    padding-left: 60px;
}
.my_img{
     
        width: 300px;
        padding-left: 45px;
    
}
.social_media_links{
    font-size: 40px;
}
    }
   
   
    @media  screen and (min-width:480px) and (max-width:767px) {
        body{
            background-color: yellow;
        }
        
        .container{
            display: flex;
             justify-content: center;
            align-items: center;
            height: auto;
            max-width: auto;
        }
        
        
         .about_me{
             height: auto;
         display: flex;
         flex-direction: column;
         margin-right:20rem ;
         margin: unset;
         margin-top: 20%;
         border: none;
     }
     
     .my_name{
         font-size: 70px;
         padding-left: 10px;
         text-align:center ;
     }
     .stack{
         font-size: 70px;
         padding-left: 60px;
     }
     .my_img{
          
             width: 300px;
             margin-left: 40px;
         
     }
     .social_media_links{
         font-size: 70px;
     }
         }

         @media screen and (min-width: 768px)and(max-width:1023px) {
            .container{
                display: flex;
                 justify-content: center;
                align-items: center;
                height: auto;
            }
            
            
             .about_me{
                 height: auto;
             display: flex;
             justify-content: center;
             align-items: center;
             margin-right:50px ;
             margin: unset;
             text-align: center;
             padding-right: 50px;
             padding-left: 0;
             margin-left:0 ;
             
         }
         
         .my_name{
             font-size: 90px;
             padding-left: 10px;
             text-align:center ;
         }
         .stack{
             font-size: 90px;
             padding-left: 60px;
         }
         .my_img{
              
                 width: 300px;
                 margin-left: 40px;
             
         }
         .social_media_links{
             font-size: 90px;
         }
             }
    










